**Simple python programs**

In [3]:
num = [1,2,5,4,6]
for i in num:
    if i%2==0:
        print(i)

2
4
6

In [1]:
name = "Sricharan"
for i in name:
    print(i)

S
r
i
c
h
a
r
a
n

In [2]:
for i in range(1,6):
    print(f"the multiplication table of {i} is:")
    for j in range(1,11):
        print(f"{i}x{j}={i*j}")

the multiplication table of 1 is:
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
the multiplication table of 2 is:
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
the multiplication table of 3 is:
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
the multiplication table of 4 is:
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
the multiplication table of 5 is:
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [10]:
example = {"name":"Sricharan","age":21,"city":"Hyderabad"}
print(example.keys())
print(example.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Sricharan', 21, 'Hyderabad'])

In [13]:
set_eg = {1,"apple",2.2,True}
set_eg.add("LADDU")
for i in set_eg:
    print(i)

apple
1
2.2
LADDU

**sort(),sorted()**

In [17]:
items = [1,23,56,87,11]
for i in items:
    print(f"Before sorting:{i}")
    items.sort()

Before sorting:1
Before sorting:11
Before sorting:23
Before sorting:56
Before sorting:87

In [18]:
print(items)

[1, 11, 23, 56, 87]

In [22]:
sorted(items)

[1, 11, 23, 56, 87]

In [23]:
items[2:4]

[23, 56]

**Enumerate() usecases**

In [27]:
languages = ["Python","Java","C++","JavaScript"]
# correct usage of enumerate: returns (index, value)
for index, language in enumerate(languages):
    print(f"{index}:{language}")

# if you want indices starting at 1:
print("\nStarting at 1:")
for index, language in enumerate(languages, start=1):
    print(f"{index}:{language}")

0:Python
1:Java
2:C++
3:JavaScript

Starting at 1:
1:Python
2:Java
3:C++
4:JavaScript

**Enumerate() example**

In [29]:
fruits = ["apple","banana","cherry"]
for i , fruit in enumerate(fruits, start=1):
    print(f"{i}:{fruit}")

1:apple
2:banana
3:cherry

**zip() example**

In [ ]:
Employees = ["Deepika","Charan","Navaneeth"]
emp_id = [121,123,134]
designation = ["DS","DE","DEV"]
for emp,em_id,design in zip(Employees,emp_id,designation):
    print(f"Employee {emp} and his id is {em_id}and Designation is {design}")